<div class='center'>
  <h1>New Album</h1>

  <%= form_tag collections_path, method: :post do %>
    <input type='text' name='collection[name]'  placeholder='Name'>
    <input type='text' name='collection[description]' placeholder='Description'>
    <input type='submit' class='button' value=<%= t('buttons.create_album') %>>
    <p class='error hidden'></p>
  <% end %>

</div>
